<p style="font-family: Arial, sans-serif; font-size: 16px; color: #333;">
    <a href="{% url 'financew:index' %}" style="color: #4CAF50; text-decoration: none; padding: 5px;">FinanceW</a> - 
    {% if user.is_authenticated %}
        <a href="{% url 'financew:my' %}" style="color: #4CAF50; text-decoration: none; padding: 5px;">Мій кабінет</a> - 
        Привіт {{ user.username }}
    {% else %}
        <a href="{% url 'accounts:register' %}" style="color: #4CAF50; text-decoration: none; padding: 5px;">Реєстрація</a> - 
        <a href="{% url 'accounts:login' %}" style="color: #4CAF50; text-decoration: none; padding: 5px;">Вхід</a>
    {% endif %}
</p>

{% block content %}{% endblock content %}
<br>

{% if user.is_authenticated %}
    <form action="{% url 'accounts:logout' %}" method="post" style="display: inline;">
        {% csrf_token %}
        <button name="submit" style="background-color: #f44336; color: white; padding: 8px 16px; font-size: 16px; border: none; border-radius: 5px; cursor: pointer; transition: background-color 0.3s;">
            Вихід
        </button>
    </form>
{% endif %}
