{% extends 'financew/base.html' %} {% block content %}
<a href="{% url "financew:new_finoperation" budget.id %}"">Додати нову фінансову операцію</a>
<p>{{budget.name}} {{budget.amount}} {{budget.currency}}</p>
{% for finoperation in finoperations %}
<p>{{finoperation.get_type_display}} - {{finoperation.amount}} - {{finoperation.date_added}}</p>
{% comment %} {{finoperation.get_type_display}} - get_[назва атрибуту]_display для того щоб відображало значення {% endcomment %}
{%empty%}
<p>Нема фінансових операцій</p>
{%endfor%} 
{% endblock content %}