{% extends 'financew/base.html' %}
{% block content %}
    <h2>Редагувати бюджет</h2>
    <form method="POST">
        {% csrf_token %}
        <label for="name">Назва:</label>
        <input type="text" name="name" value="{{ budget.name }}" required>
        
        <label for="amount">Сума:</label>
        <input type="number" name="amount" value="{{ budget.amount }}" required>

        <label for="currency">Валюта:</label>
        <input type="text" name="currency" value="{{ budget.currency }}" required>

        <button type="submit">Зберегти зміни</button>
    </form>
{% endblock content %}
