{% extends 'financew/base.html' %}
{% block content %}
<p>Платформа управління особистими фінансами FinW - допомагає користувачам відстежувати витрати, прогнозувати бюджети та аналізувати фінансові звички.</p>

<p>FinW – це зручний сервіс, що допомагає користувачам ефективно керувати своїми фінансами. Завдяки платформі можна створювати, редагувати та видаляти бюджети й бюджети-цілі, що дає змогу планувати витрати та заощадження відповідно до фінансових можливостей. Для фінансових операцій із періодичним характером передбачено автоматичне зняття коштів із бюджету, що значно спрощує управління фінансами.</p>

<p>Кожен користувач має особистий кабінет, у якому зручно керувати своїми фінансовими даними. Модуль облікових записів гарантує високий рівень безпеки та конфіденційності інформації. Окрім цього, платформа пропонує модуль візуалізації графіків, який відображає динаміку витрат, доходів і прогрес у досягненні фінансових цілей. Це допомагає аналізувати фінансові звички та приймати обґрунтовані рішення.</p>

<p>Для зручного аналізу користувачі можуть фільтрувати дані за різними параметрами, такими як категорії витрат, періодичність операцій або типи бюджетів. Це дозволяє отримувати детальну інформацію про фінансові потоки та оптимізувати витрати. Крім того, FinW забезпечує гнучкість у фінансовому плануванні завдяки можливості переведення коштів між бюджетами. Ця функція допомагає ефективно розподіляти ресурси та швидко реагувати на зміни у фінансових потребах.

<p>В особистому кабінеті користувач має доступ до останніх фінансових операцій, що дає змогу швидко оцінити поточний стан рахунків. Завдяки цьому можна оперативно відстежувати свої витрати та контролювати фінансову ситуацію.</p>

<p>FinW побудована на сучасній архітектурі, що забезпечує стабільну роботу та швидкий доступ до даних. Інтеграція модулів управління бюджетами, фінансових операцій, візуалізації даних та аналітики робить платформу надійним та зручним інструментом для кожного користувача.</p>

{% endblock content %}

{% comment %} {% for budget in budgets %}<!-- воно бере по назві ключа -->
  <li>
    <a href="{% url 'financew:budget' budget.id %}">{{ budget.name }} {{ budget.amount }} {{ budget.currency }}</a>
  </li> 
  {% empty %}
  <li>Бюджети не знайдено</li>
  {% endfor %} {% endcomment %}