{% extends 'financew/base.html' %}
{% block content %}
<p>Платформа управління особистими фінансами FinW - допомагає користувачам відстежувати витрати, прогнозувати бюджети та аналізувати фінансові звички.</p>
<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
<p>Платформа управління особистими фінансами FinW - допомагає користувачам відстежувати витрати, прогнозувати бюджети та аналізувати фінансові звички.</p>
{% endblock content %}

{% comment %} {% for budget in budgets %}<!-- воно бере по назві ключа -->
  <li>
    <a href="{% url 'financew:budget' budget.id %}">{{ budget.name }} {{ budget.amount }} {{ budget.currency }}</a>
  </li> 
  {% empty %}
  <li>Бюджети не знайдено</li>
  {% endfor %} {% endcomment %}