{% extends 'financew/base.html' %}

{% block content %}
<h2>Усі транзакції</h2>

<h3>Список транзакцій</h3>
<ul>
{% for item in operations_with_converted %}
    <li style="color: {% if item.operation.type == 'income' %}green{% else %}red{% endif %};">
      {{ item.operation.date_added|date:"Y-m-d H:i" }} -
      {{ item.operation.get_type_display }}:
      {{ item.operation.amount|floatformat:2 }} {{ item.operation.budget.currency }}
      (Бюджет: {{ item.operation.budget.name }}{% if item.operation.category %}, Категорія: {{ item.operation.category.name }}{% endif %})
    </li>
{% empty %}
    <li>Транзакції не знайдено</li>
{% endfor %}
</ul>

<!-- Посилання для повернення на головну сторінку -->
<p><a href="{% url 'financew:my' %}">Повернутися до особистого кабінету</a></p>

{% endblock content %}